{
	email admin@nbmm.tech
}

nbmm.tech, www.nbmm.tech {
	encode gzip

	redir /imperial /microcredito/login permanent

	handle_path /imperial/* {
		redir * /microcredito{uri} permanent
	}

	handle /api* {
		reverse_proxy backend:3000
	}

	handle /uploads* {
		reverse_proxy backend:3000
	}

	handle {
		reverse_proxy frontend:80
	}
}

http://148.230.115.150 {
	redir https://nbmm.tech{uri} permanent
}
